<%- include("partials/head") %>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        text-align: center;
      }
      a {
        text-decoration: none;
        color: black;
      }
      .homes {
        padding: 10px;
        text-transform: capitalize;
        list-style-type: none;
        font-size: 2rem;
        border: 1px solid black;
        border-radius: 5px;
        background-color: beige;
        margin-bottom: 10px;
      }
      main {
        margin: 10px;
      }
      button {
        margin: 20px;
      }
      .navigation {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        list-style-type: none;
        background-color: orange;
        height: 30px;
        padding: 15px 10px;
        margin-bottom: 10px;
        font-weight: 700;
      }
      #btn {
        background-color: bisque;
        font-size: 1rem;
        padding: 5px;
        border-radius: 7px;
      }
      img{
        width: 200px;
        height: 200px;
      }
      .home-card{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 90vw;
        gap: 30px;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <header>
      <%- include("partials/navbar") %>
      <h1>Welcome to Airbnb</h1>
    </header>
    <main>
      <h2>find the best for you from anywhere</h2>
      <button id="btn">
        <a href="/host/add-home">ADD HOME </a>
      </button>
      <div class="home-card">
          <% houseList.forEach((home)=>{ %>
          <div class="card" style="width: 18rem;">
            <img src="<%= home.homeUrl%>" class="card-img-top" alt="home Image">
            <div class="card-body">
              <h5 class="home-title"><%= home.homeName %></h5>
              <p class="home-location">Location : <%= home.homeLocation %></p>
              <p>Rating : <span class="badge text-bg-secondary"><%= home.homeRating %> ⭐</span></p>
              <a href="#" class="btn btn-primary">₹ <%= home.homePrice %></a>
            </div>
          </div>
          <% }) %>
        </div>
    </main>
  </body>
</html>
